@import "../../../../assets/scss/_variables.scss";
.status2 {
    .card {
      background: transparent;
      border: 0px;
      &-body {
        padding: 0 1.25rem;
        .card-subtitle {
          font-family: $font-proxima;
          color: $dark-grey-blue;
          font-size: $font-size-base;
          font-weight: $font-weight-mid;
          text-transform: uppercase;
        }
        .card-title {
          @extend .card-subtitle;
          font-size: $font-size-large;
          color: $text-color-default;
        }
        .card-text {
          @extend .card-subtitle;
          font-size: $font-size-medium;
          color: $secondary-text-color;
          text-transform: capitalize;
        }
      }
    }
    .col-xl-6 {
      .card {
        &-body {
          padding: 0 0.4rem;
        }
      }
    }
}
