<!-- status 2 -->
<div class="status2">
  <div class="row mt-1 mb-4">
    <div class="col-xl-6 col-md-6 col-sm-12 border-right">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label class="card-subtitle mb-2">From</label>
              <div class="d-block">
                <img src="../../../../assets/images/icons/flags/4x3/ae.svg" class="flag-icon-20-14 mr-2 pull-left">
                <div class="d-flex flex-column">
                  <h6 class="card-title mb-0">AE JEA</h6>
                  <p class="card-text">Port of jebal Ali, Dubai</p>
                </div>
              </div>
            </div>
            <div class="col">
              <label class="card-subtitle mb-2">To</label>
              <div class="d-block">
                <img src="../../../../assets/images/icons/flags/4x3/us.svg" class="flag-icon-20-14 mr-2 pull-left">
                <div class="d-flex flex-column">
                  <h6 class="card-title mb-0">GB FXT</h6>
                  <p class="card-text">Port of flixstowe, UK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-6 border-right">
      <div class="card">
        <div class="card-body">
          <label class="card-subtitle mb-2">Est. Transit Time</label>
          <div class="d-block">
            <img src="../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 pull-left">
            <h6 class="card-title mb-0 text-capitalize">13 Days</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-6 col-xs-6">
      <div class="card">
        <div class="card-body">
          <label class="card-subtitle mb-2">Cargo Details</label>
          <div class="d-block">
            <img src="../../../../assets/images/icons/icon_container.svg" class="icon-size-16 mr-2 pull-left">
            <h6 class="card-title mb-0 text-capitalize">Goods</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<marquee>This text will scroll from right to left</marquee>
<app-view-booking-table [type]="'b'"></app-view-booking-table>
