@import "../../../../assets/scss/_variables";
$active-tab: $color-topmenuactive;
$unactive-tab1: #ececec;
$unactive-tab2: $white-color;
$unactive-container-tab: #a5b2ba;
$NumberOfStops-border-color: #008bd4;
.search-sidebar {
  .heading-leftsidebar {
    font-size: 1.25rem;
    font-weight: $font-weight-normal;
    font-family: $font-proxima;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: left; // text-transform: capitalize;
  }
  .leftSearchBar {
    background-color: $white-color !important;
    border: 1px solid $left-sidebar-border-color !important;
    .widgets {
      // &:last-child {
      //   .widgets-box {
      //    // border-bottom: 0px;
      //   }
      // }
      &-box {
        padding: 20px 18px;
        border-bottom: 1px solid $left-sidebar-border-color;
        .EstimateTimeSection,
        .FreeTimeSection,
        .MoreSection {
          overflow: hidden;
        }
        .EstimateTimeSection {
          // Specific IE-Edge Browser fixes - [ Start ]
          @supports (-ms-ime-align: auto) {
            ion-range-slider {
              position: static !important;
              margin-bottom: -4px;
              display: block;
              .irs {
                .irs-bar,
                .irs-line {
                  top: 15px !important;
                }
                .irs-slider.from,
                .irs-slider.to {
                  top: 6px !important;
                }
              }
            }
          } // Specific IE-Edge Browser fixes - [ END ]
          ion-range-slider {
            position: relative;
            top: -18px;
          }
          &Days {
            position: relative;
            top: -18px;
          }
        }
        .FreeTimeSection {
          // Specific IE-Edge Browser fixes - [ Start ]
          @supports (-ms-ime-align: auto) {
            ion-range-slider {
              position: static !important; //top: -50px !important;
              margin-bottom: -4px;
              display: block;
              .irs {
                .irs-bar,
                .irs-line {
                  top: 15px !important;
                }
                .irs-slider.from,
                .irs-slider.to {
                  top: 6px !important;
                }
              }
            }
          } // Specific IE-Edge Browser fixes - [ END ]
          ion-range-slider {
            position: relative;
            top: -18px;
          }
          &Days {
            position: relative;
            top: -18px;
          }
        }
        .MoreSection .check-boxes-main {
          margin-bottom: 15px;
          margin-left: 4px;
        }
        .widget-content {
          padding-top: 15px;
          width: 100%;
          &.credit {
            padding-top: 0;
          }
        }
        .widgets-heading {
          cursor: pointer;
        }
        .range-slider {
          margin-bottom: 0.7em;
        }
        .day-from,
        .price-from {
          p {
            margin-right: 0;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            text-align: left;
            margin-top: 1px;
            max-width: 120px;
          }
        }
        .day-to,
        .price-to {
          p {
            margin-right: 0;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            text-align: right;
            margin-top: 1px;
          }
        }
        .custom-search-input {
          margin-bottom: 15px;
          .input-group {
            padding: 0;
            input[type="text"] {
              background: $search-background;       
              border-radius: 0.25rem;
            }
            .search-btn {
              position: absolute;
              right: 8px;
              background: transparent;
              border: 0;
              top: 5px;
              color: #b1b3b5;
            }
          }
        }
        /*--- number of stops ---*/
        .NumberOfStops {
          overflow: hidden;
          .NumberOfStops-btn {
            .btn-group {
              width: 100%;
              border-radius: 4px;
              a.btn {
                width: 100%;
                height: 40px;
                overflow: hidden;
                border: 1px solid $grey-border !important;
                border-right: 0;
                border-top: 0;
                border-bottom: 0;
                width: calc(100% / 4);
                background: $unactive-tab1;
                background: linear-gradient( 180deg, $unactive-tab1 60%, $unactive-tab2 100%) !important;
                color: $text-color-default;
                font-weight: $font-weight-normal;
                border-bottom: 0;
                padding: 0;
                line-height: 2.5;
                font-size: $font-size-large;
                &.unactive {
                  background: $unactive-tab1;
                  background: linear-gradient( 180deg, $unactive-tab1 60%, $unactive-tab2 100%) !important;
                  &:hover {
                    background: inherit;
                  }
                }
                &.active {
                  color: $color-white;
                  top: 0;
                  font-weight: $font-weight-normal;
                  font-size: $font-size-large;
                  background: $sky-blue-default !important;
                  border: 1px solid $NumberOfStops-border-color !important;
                  -moz-box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                  -webkit-box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                  box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                }
                &:hover {
                  color: $color-white !important;
                  height: 40px;
                  position: relative;
                  font-weight: $font-weight-normal;
                  border: 1px solid $NumberOfStops-border-color !important;
                  background: $NumberOfStops-border-color !important;
                  -moz-box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                  -webkit-box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                  box-shadow: inset 2px 2px 2px $sky-blue-default, inset 0 -2px 2px $NumberOfStops-border-color;
                }
              }
            }
          }
        }
        /*---  Shipping Buttons  ---*/
        .shipping-btn {
          border: 1px solid $sidebar-border-color;
          border-radius: 4px;
          overflow: hidden !important;
          .shipping-btn-group {
            width: 100%;
            background-color: rgba(49, 127, 203, 0); //max-height: 143px;
            margin-bottom: -1px;
            margin-left: 1px;
            a.btn {
              border: 0 solid $grey-border;
              height: 48px;
              border-radius: 0; // margin: -2px;
              padding: 1px;
              border-right: 1px solid $sidebar-border-color;
              border-left: 0;
              border-top: 0;
              border-bottom: 1px solid $sidebar-border-color;
              &:hover {
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
              }
              .shipping-img {
                width: 100%;
                height: 100%;
                padding: 5px;
                object-fit: contain;
              }
              &:hover {
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
              }
            }
          }
        }
        /*---  Filter Boxes  ---*/
        .more-checkboxes {
          margin-top: 20px;
          a {
            text-decoration: none;
            color: $dark-grey-blue;
            font-weight: $font-weight-mid; //font-size: $base-font-size + 2;
          }
        }
      }
      &-heading {
        h3 {
          font-size: $font-size-medium;
          text-transform: uppercase;
          color: $dark-grey-blue;
          font-weight: $font-weight-mid;
          font-family: $font-proxima;
          margin-bottom: 0;
          letter-spacing: 0.04em;
          .fa-caret-down {
            width: 10px;
            float: right;
            margin-top: 3px;
            transition: 0.5s;
            &.Show {
              transform: rotate(-92deg) !important;
            }
          }
          small {
            text-transform: none;
            font-size: $font-size-base;
          }
        }
      }
    }
  }
  .noUi-connect {
    background: $sky-blue-default !important; // border: 1px solid #008bd4;
  }
  .widgets .widgets-box .widget-content .NumberOfStops-btn a.btn:focus {
    background: none !important;
    box-shadow: none !important;
  }
  .grayscale-Active {
    -webkit-filter: grayscale(100%);
    /*Safari 6.0 - 9.0*/
    filter: grayscale(100%);
    opacity: 0.5;
  }
  .grayscale-inActive {
    -webkit-filter: grayscale(1%);
    /*Safari 6.0 - 9.0*/
    filter: grayscale(1%);
  }
}
