<div class="special">
<div class="row mt-5">
  <div class="col-md-12 ">
    <h4 class="title">HashMove Specials</h4>
  </div>
</div>
<div class="row" >
  <div class="col-md-4 item" >
    <div class="card">
      <div class="card-image">
        <img class="card-img-top" src="../../../../assets/images/special1.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5>20% off on all shippings to China</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 item" >
    <div class="card">
      <div class="card-image">
        <img class="card-img-top" src="../../../../assets/images/special2.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5>2 days free Warehousing at Dammam</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 item" >
    <div class="card">
      <div class="card-image">
        <img class="card-img-top" src="../../../../assets/images/special3.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5>20% off on all Custom Clearance</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
</div>