<div class="cd-dropdown-wrapper" (clickOutside)="closeNav()">
  <a class="cd-dropdown-trigger" href="javascript:;">Knowledge Base
    <i class="fa fa-angle-down"></i>
  </a>
  <nav class="cd-dropdown">
    <a href="javascript:;" class="cd-close">Close</a>
    <ul class="cd-dropdown-content">
      <li>
        <div class="knowledge">
          <div class="container knowledge-container p-0">
            <div class="row no-gutters">
              <div class="col-3">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Help How To's
                    <!-- <span class="fa fa-angle-right"></span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Insights and Data Analytics </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Air Freight
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center active hvr-icon-forward">
                    Sea Freight
                    <span class="fa fa-angle-right hvr-icon"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Land Freight
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    International Relocation
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tracking Solutions
                  </li>
                </ul>
              </div>
              <div class="col-5">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Sea Freight</h5>
                    <ul class="link-list">
                      <li>
                        <a href="javascript:;" class="link-hover-1">How to prepare your container for Sea Freight?</a>
                      </li>
                      <li>
                        <a href="javascript:;" class="link-hover-1">What is FCL and LCL?</a>
                      </li>
                      <li>
                        <a href="javascript:;" class="link-hover-1">When should you arrive at the port with your shipment?</a>
                      </li>
                      <li>
                        <a href="javascript:;" class="link-hover-1">How important is it to insure your shipment?</a>
                      </li>
                      <li>
                        <a href="javascript:;" class="link-hover-1">Should perishable goods be sent via Sea Freight?</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card card-knowledge">
                  <div class="card-body">
                    <h5 class="card-title">
                      What is free time at a port and how does it affect your freight cost?
                    </h5>
                    <small>26 Mar 2018 | Alex Moy</small>
                    <img class="logo" src="../../../../assets/images/knowledge-news.jpg" width="100%" alt="knowledge-news" title="knowledge-news">
                    <div class="card-desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="card-info">
                      <span class="link-hover-1">Read More </span>
                      <svg class="dad0eedd-3f58-4190-b99e-682be04a5685 " data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                   
                        <defs>
                          <style>
                            .\32 57445dd-43e8-4251-8231-74686b6f6f2a {
                              fill: #abb6be;

                            }

                            .dad0eedd-3f58-4190-b99e-682be04a5685 {
                              width: 16px;
                              height: 16px;
                              cursor: pointer;
                              float: right;
                              margin-top: 3px;
                            }

                            .dad0eedd-3f58-4190-b99e-682be04a5685:hover .\32 57445dd-43e8-4251-8231-74686b6f6f2a {

                              fill: #02b9b2;
                              transition: 2s;
                            }

                          </style>
                        </defs>
                        <g>
                          <circle class="257445dd-43e8-4251-8231-74686b6f6f2a" cx="13" cy="3" r="3" />
                          <circle class="257445dd-43e8-4251-8231-74686b6f6f2a" cx="13" cy="13" r="3" />
                          <circle class="257445dd-43e8-4251-8231-74686b6f6f2a" cx="3" cy="8" r="3" />
                          <g>
                            <polygon class="257445dd-43e8-4251-8231-74686b6f6f2a" points="14 3.078 13.066 1.568 4 6.556 5.839 7.568 14 3.078" />
                            <polygon class="257445dd-43e8-4251-8231-74686b6f6f2a" points="4 10.012 13.066 15 14 13.49 5.839 9 4 10.012" />
                          </g>
                        </g>
                      </svg>
                      <!-- <img src="../../../../assets/images/icons/icon_share.svg" alt="share-icon" /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
      </li>
    </ul>
  </nav>
</div>
