<div class="row press">
  <div class="col-12 col-md-2 press-media">
    <h4 class="title single-title">In the Press</h4>
    <br>
    <div class="card">
      <h6 class="card-title">Media Contact</h6>
      <div class="card-image hvr-bounce-in">
        <img class="card-img-top" alt="100%x180" src="../../../../assets/images/nikki.png">
      </div>
      <div class="card-body">
        <h6>Nikki Minaj</h6>
        <p class="card-text">pr@hashmove.com</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7 press-feeds">
    <div class="press-feeds-container">
      <ngb-carousel>
        <ng-template ngbSlide>
          <ul class="list-unstyled">
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news1.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>HashMove the new buzz word in logistics</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news2.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>The rise of a new billion $ logistic disruption</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news3.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>From Silicon Valley in US to Silicon Valley in Dubai</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </ng-template>
        <!-- <ng-template ngbSlide>
          <ul class="list-unstyled">
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news3.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>From Silicon Valley in US to Silicon Valley in Dubai</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news2.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>The rise of a new billion $ logistic disruption</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news1.png" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-8">
                    <div class="feeds-description">
                      <h5>HashMove the new buzz word in logistics</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </ng-template>
        <ng-template ngbSlide>
          <ul class="list-unstyled">
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news1.png" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feeds-description">
                      <h5>HashMove the new buzz word in logistics</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news2.png" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feeds-description">
                      <h5>The rise of a new billion $ logistic disruption</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="feeds-container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="image-container">
                      <img src="../../../../assets/images/news3.png" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="feeds-description">
                      <h5>From Silicon Valley in US to Silicon Valley in Dubai</h5>
                      <h6>PUBLISHED ON: APRIL 1, 2018</h6>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </ng-template> -->
      </ngb-carousel>
    </div>
    <!-- <div class="bullets">
      <ul>
        <li>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <i class="fa fa-circle"></i>
        </li>
      </ul>
    </div> -->
  </div>
  <div class="col-12 col-md-3 press-cards">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-12">
        <div class="card">
          <div class="card-image">
            <img src="../../../../assets/images/press1.png" alt="">
            <div class="video-play">
              <a href="javascript:;">
                <i class="fa fa-play text-success"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <h6>
              HashMove the new buzz word in logistics
            </h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-12">
        <div class="card">
          <div class="card-image">
            <img src="../../../../assets/images/press2.png" alt="">
            <div class="video-play">
              <a href="javascript:;">
                <i class="fa fa-play text-success"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <h6>
              From Silicon Valley to US to Silicon Valley in Dubai
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>