@import '../../../../assets/scss/_variables'; // Local Variables
$left-nav-icon-color-2: #76858d;
$left-nav-icon-width: 20px;
$left-nav-icon-height:20px;
$left-nave-link: $text-color-default;
$left-nave-badge-primary: $secondary-grey;
$leftsidebar-h3-color: #c6c8ca;
.user-dashboard-leftsidebar {
  width: 85%;
  position: sticky;
  top: 0;
  .nav-left {
    .leftsidebar-help {
      .leftsidebar-column {
        li {
          .nav-link {
            .icon {
              fill: $left-nav-icon-color-2 !important;
            }
            &.active {
              .menu-text {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
    .leftsidebar-main,
    .leftsidebar-help {
      margin: 20px 0;
      h3 {
        font-size: $font-size-base;
        font-weight: $font-weight-mid;
        color: $leftsidebar-h3-color;
        text-transform: uppercase;
        margin: 0px 0px -1px;
      }
      .leftsidebar-column {
        margin-left: 8px;
        li {
          padding: 10px 0 0;
          .nav-link {
            color: $left-nave-link;
            &.active {
              color: $primary-color;
            }
            .icon {
              fill: $primary-color;
              width: $left-nav-icon-width;
              height: $left-nav-icon-height;
              margin-right: 14px;
            }
            .menu-text {
              font-size: $font-size-large;
              font-weight: $font-weight-mid;
              margin-top: 5px;
              font-family: $font-proxima;
              line-height: 0.8;
              &:hover,
              &.active {
                color: $primary-color;
              }
            }
            .badge-primary {
              background-color: $left-nave-badge-primary; // min-width: 20px;              
              margin-right: 2rem;
              float: right;
              margin-top: 1px;
              font-family: $font-proxima;
              font-weight: $font-weight-mid;
              border-radius: 20px;
              font-size: 0.8125rem !important;
              min-width: 22px;
              min-height: 20px;
              line-height: 12px;
              padding: 5px;
              border: 0;
            }
          }
          &:hover {
            .badge {
              animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
              transform: translate3d(0, 0, 0);
              backface-visibility: hidden;
              perspective: 1000px;
  
              @keyframes shake {
  
                10%,
                90% {
                  transform: translate3d(-1px, 0, 0);
                }
  
                20%,
                80% {
                  transform: translate3d(1px, 0, 0);
                }
  
                30%,
                50%,
                70% {
                  transform: translate3d(-2px, 0, 0);
                }
  
                40%,
                60% {
                  transform: translate3d(2px, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}

.isBlur {
  .grey-placeholder {
    display: none;
  }
  .timeline-wrapper {
    display: block;
  }
}

.isNotBlur {
  .timeline-wrapper {
    display: none;
  }
  .grey-placeholder {
    display: inherit;
  }
}
