<div class="results-header" [ngClass]="[(page === 'emkay' ? 'vendor' : ''), (partner === 'emkay') ? 'emkay' : '']">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <ul class="nav route">
          <li class="nav-item" *ngIf="searchCriteria.searchMode !== 'warehouse-lcl'">
            <div class="route-destination"
              [ngbTooltip]="(searchCriteria.pickupPortType ==='GROUND')?searchCriteria.SearchCriteriaPickupGroundDetail?.Address + ((hashmoveLocation?.PolName?.length > 0)?'(' + hashmoveLocation?.PolName + ')':''):''"
              placement="bottom" *ngIf="searchCriteria.deliveryPortType !== 'CITY'">
              <img src="{{'../../../assets/images/icons/flags/4x3/' + pickupCountry + '.svg'}}" alt="">
              {{(searchCriteria.pickupPortType
              ==='GROUND')?searchCriteria.pickupPortName:searchCriteria.pickupPortCode}}
            </div>
            <div class="route-destination" [ngbTooltip]="searchCriteria.userPickup.name" placement="bottom"
              *ngIf="searchCriteria.pickupPortType === 'CITY'">
              <img
                src="{{'../../../assets/images/icons/flags/4x3/' + searchCriteria.userPickup.imageName.toLowerCase() + '.svg'}}"
                alt="">
              {{searchCriteria.userPickup.name}}
            </div>
            <div class="route-arrows">
              <img src="../../../assets/images/icons/Icons_Route_blue.svg" alt="">
            </div>
            <div class="route-destination"
              [ngbTooltip]="(searchCriteria.deliveryPortType ==='GROUND')?searchCriteria.SearchCriteriaDropGroundDetail?.Address + ((hashmoveLocation?.PodName?.length > 0)?'(' + hashmoveLocation?.PodName + ')':''):''"
              placement="bottom" *ngIf="searchCriteria.deliveryPortType !== 'CITY'">
              <img src="{{'../../../assets/images/icons/flags/4x3/' + deliverCountry + '.svg'}}" alt="">
              {{(searchCriteria.deliveryPortType ==='GROUND')?searchCriteria.deliveryPortName:searchCriteria.deliveryPortCode}}
            </div>
            <div class="route-destination" [ngbTooltip]="searchCriteria.userDelivery.name" placement="bottom"
              *ngIf="searchCriteria.deliveryPortType === 'CITY'">
              <img
                src="{{'../../../assets/images/icons/flags/4x3/' + searchCriteria.userDelivery.imageName.toLowerCase() + '.svg'}}"
                alt="">
              {{searchCriteria.userDelivery.name}}
            </div>
          </li>
          <li class="nav-item" *ngIf="searchCriteria.searchMode === 'warehouse-lcl'">
            <div class="route-destination">
              <img class="warehouse-loc-icon" src="../../../../assets/images/icons/Icons_Location_blue.svg" alt="">
              {{searchCriteria.CityName}}
            </div>
          </li>
          <li class="nav-item">
            <span
              *ngIf="!searchCriteria.storageType || searchCriteria?.storageType === 'shared' || searchCriteria?.storageType === 'dedicated'">
              <svg *ngIf="partner === 'emkay'" id="88507c10-0da4-4b2d-a21a-0c5f629058b3" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\37 aed6998-0fd9-4022-9f2b-430573c5b675 {
                      fill: var(--customerSecondaryColor);
                      opacity: 0.8;
                    }
                  </style>
                </defs>

                <g id="2a77a8c1-03cb-4b0b-9400-6f49a695fb1a" data-name="calendar">
                  <path id="f9e755db-d1c7-4c2d-8f2e-755558f034ad" data-name="&lt;Compound Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675"
                    d="M20,5V19a2,2,0,0,1-2,2H4V7A2,2,0,0,1,6,5H20m2-2H6A4,4,0,0,0,2,7V23H18a4,4,0,0,0,4-4V3Z" />
                  <rect id="19ccffe0-336e-4cfa-affc-0859ccf0a517" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="4" y="5" width="16" height="6" />
                  <rect id="7556a7af-5b4a-4295-8b83-c429d2c26994" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="7" y="2" width="2" height="5" />
                  <rect id="6e3c8240-0c19-4341-aeed-3262c4d91dee" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="15" y="2" width="2" height="5" />
                </g>
              </svg>
              <svg *ngIf="partner !== 'emkay'" id="88507c10-0da4-4b2d-a21a-0c5f629058b3" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\37 aed6998-0fd9-4022-9f2b-430573c5b675 {
                      fill: #00a2df;
                      opacity: 0.8;
                    }
                  </style>
                </defs>

                <g id="2a77a8c1-03cb-4b0b-9400-6f49a695fb1a" data-name="calendar">
                  <path id="f9e755db-d1c7-4c2d-8f2e-755558f034ad" data-name="&lt;Compound Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675"
                    d="M20,5V19a2,2,0,0,1-2,2H4V7A2,2,0,0,1,6,5H20m2-2H6A4,4,0,0,0,2,7V23H18a4,4,0,0,0,4-4V3Z" />
                  <rect id="19ccffe0-336e-4cfa-affc-0859ccf0a517" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="4" y="5" width="16" height="6" />
                  <rect id="7556a7af-5b4a-4295-8b83-c429d2c26994" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="7" y="2" width="2" height="5" />
                  <rect id="6e3c8240-0c19-4341-aeed-3262c4d91dee" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="15" y="2" width="2" height="5" />
                </g>
              </svg>
              {{PickupDate | date : "d MMM, yyyy" }}
              <span *ngIf="DeliveryDate">
                -
                {{DeliveryDate | date : "d MMM, yyyy" }}
              </span>
            </span>

            <span *ngIf="searchCriteria.storageType === 'full'">
              <svg *ngIf="partner === 'emkay'" id="daf2a9d0-ed1e-40c3-8dc2-534f350396d2" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <defs>
                  <style>
                    .bf3de19e-df40-4e76-a7cd-2f9395b9693a {
                      fill: var(--customerSecondaryColor);
                    }
                  </style>
                </defs>
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="16 10 10 16 16 16 16 10" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="0 6 6 0 0 0 0 6" />
                <rect class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" x="7.317" y="-2.63" width="1.367" height="21.261"
                  transform="translate(-3.314 8) rotate(-45)" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="2 14 2 9 0 9 0 16 7 16 7 14 2 14" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="14 2 14 6 16 6 16 0 10 0 10 2 14 2" />
              </svg>
              <svg *ngIf="partner != 'emkay'" id="daf2a9d0-ed1e-40c3-8dc2-534f350396d2" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <defs>
                  <style>
                    .bf3de19e-df40-4e76-a7cd-2f9395b9693a {
                      fill: #00a2df;
                    }
                  </style>
                </defs>
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="16 10 10 16 16 16 16 10" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="0 6 6 0 0 0 0 6" />
                <rect class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" x="7.317" y="-2.63" width="1.367" height="21.261"
                  transform="translate(-3.314 8) rotate(-45)" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="2 14 2 9 0 9 0 16 7 16 7 14 2 14" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="14 2 14 6 16 6 16 0 10 0 10 2 14 2" />
              </svg>
              <span *ngIf="searchCriteria.storageType === 'full'" [innerHTML]="searchCriteria?.spaceReqString">
              </span>
            </span>
          </li>
          <li class="nav-item icons pl-4">
            <div *ngIf="searchCriteria.searchMode === 'sea-fcl' && searchCriteria.containerLoad === 'FCL'">
              <svg *ngIf="partner === 'emkay'" id="3e0bd723-1f5e-404f-9c9e-f9fa6a56c26b" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\37 50c96f3-85fa-4da3-ae5f-980e0f5745ce {
                      fill: var(--customerSecondaryColor);
                      opacity: 0.8;
                    }
                  </style>
                </defs>

                <g id="6744cc39-0259-4947-99c3-524da0baf146" data-name="container">
                  <path id="a13d3843-8cbe-44ec-8bff-9c9271c255f7" data-name="&lt;Compound Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" d="M22,10V22H2V10H22m2-2H0V24H24V8Z" />
                  <rect id="3bc9a61b-e64a-4a26-a0db-69d1ce9d6b6e" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="5" y="11" width="2" height="10" />
                  <rect id="15063ed6-0b45-423b-a60a-fb9e8a38780a" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="11" y="11" width="2" height="10" />
                  <rect id="435b81d5-b0c3-4dda-b6bf-ec8fa8fd643e" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="17" y="11" width="2" height="10" />
                  <rect id="0dc9424e-7fc7-46da-a1ac-89446f588598" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="5.229" y="5" width="7.543" height="2"
                    transform="translate(-1.607 8.121) rotate(-45)" />
                  <rect id="713c3bf1-8eef-4a1e-a553-96a0cf70b1ea" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="14" y="2.229" width="2" height="7.543"
                    transform="translate(0.15 12.363) rotate(-44.995)" />
                  <rect id="9e10ba48-acd1-4fa3-a431-1799e0b0691c" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="11" width="2" height="4" />
                </g>
              </svg>
              <svg id="3e0bd723-1f5e-404f-9c9e-f9fa6a56c26b" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" *ngIf="partner != 'emkay'">
                <defs>
                  <style>
                    .\37 50c96f3-85fa-4da3-ae5f-980e0f5745ce {
                      fill: #00a2df;
                      opacity: 0.8;
                    }
                  </style>
                </defs>

                <g id="6744cc39-0259-4947-99c3-524da0baf146" data-name="container">
                  <path id="a13d3843-8cbe-44ec-8bff-9c9271c255f7" data-name="&lt;Compound Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" d="M22,10V22H2V10H22m2-2H0V24H24V8Z" />
                  <rect id="3bc9a61b-e64a-4a26-a0db-69d1ce9d6b6e" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="5" y="11" width="2" height="10" />
                  <rect id="15063ed6-0b45-423b-a60a-fb9e8a38780a" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="11" y="11" width="2" height="10" />
                  <rect id="435b81d5-b0c3-4dda-b6bf-ec8fa8fd643e" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="17" y="11" width="2" height="10" />
                  <rect id="0dc9424e-7fc7-46da-a1ac-89446f588598" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="5.229" y="5" width="7.543" height="2"
                    transform="translate(-1.607 8.121) rotate(-45)" />
                  <rect id="713c3bf1-8eef-4a1e-a553-96a0cf70b1ea" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="14" y="2.229" width="2" height="7.543"
                    transform="translate(0.15 12.363) rotate(-44.995)" />
                  <rect id="9e10ba48-acd1-4fa3-a431-1799e0b0691c" data-name="&lt;Path&gt;"
                    class="750c96f3-85fa-4da3-ae5f-980e0f5745ce" x="11" width="2" height="4" />
                </g>
              </svg>
              <span *ngIf="containersQty > 1 ; else: temp">
                {{searchCriteria.containerLoad}} {{containersQty + " x Containers"}}
              </span>
              <ng-template #temp>
                {{searchCriteria.containerLoad}} {{containersQty + " x Container"}}
              </ng-template>
            </div>

            <div *ngIf="searchCriteria.searchMode === 'truck-ftl' && searchCriteria.containerLoad === 'FTL'">
              <img src="../../../../assets/images/icons/Icons_Cargo Truck.svg" alt="">
              <span *ngIf="containersQty > 1 ; else: temp">
                {{searchCriteria.containerLoad}} {{containersQty + " x Trucks"}}
              </span>
              <ng-template #temp>
                {{searchCriteria.containerLoad}} {{containersQty + " x Truck"}}
              </ng-template>
            </div>

            <div
              *ngIf="searchCriteria.containerLoad === 'LCL' && (searchCriteria.searchMode === 'sea-lcl' || searchCriteria.searchMode === 'air-lcl')">
              <svg *ngIf="page === 'emkay'" id="ee0cf102-a966-4a3f-95ef-2d85d2845fce" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\33 24b713b-d0fb-4a53-8548-411c4a22720a {
                      fill: var(--customerSecondaryColor);
                    }
                  </style>
                </defs>
                <g id="77a57afb-dc84-48f7-bcef-1ea8af6a0a74" data-name="box">
                  <path id="b7ad858c-ef80-4b01-8e89-887b6e7eba38" data-name="&lt;Compound Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a"
                    d="M12,2.236l10,5v9.528l-10,5-10-5V7.236l10-5M12,0,0,6V18l12,6,12-6V6L12,0Z" />
                  <polygon id="3d2841e7-73c0-49f4-a43e-30e1679abe1b" data-name="&lt;Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a"
                    points="12 12.504 0.5 7.316 1.334 5.496 12 10.307 22.666 5.496 23.5 7.316 12 12.504" />
                  <rect id="221b7dca-da17-44bc-bf0a-eaf6705915cb" data-name="&lt;Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a" x="11" y="11" width="2" height="12" />
                </g>
              </svg>
              <svg *ngIf="page != 'emkay'" id="ee0cf102-a966-4a3f-95ef-2d85d2845fce" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\33 24b713b-d0fb-4a53-8548-411c4a22720a {
                      fill: #00a2df;
                    }
                  </style>
                </defs>
                <g id="77a57afb-dc84-48f7-bcef-1ea8af6a0a74" data-name="box">
                  <path id="b7ad858c-ef80-4b01-8e89-887b6e7eba38" data-name="&lt;Compound Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a"
                    d="M12,2.236l10,5v9.528l-10,5-10-5V7.236l10-5M12,0,0,6V18l12,6,12-6V6L12,0Z" />
                  <polygon id="3d2841e7-73c0-49f4-a43e-30e1679abe1b" data-name="&lt;Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a"
                    points="12 12.504 0.5 7.316 1.334 5.496 12 10.307 22.666 5.496 23.5 7.316 12 12.504" />
                  <rect id="221b7dca-da17-44bc-bf0a-eaf6705915cb" data-name="&lt;Path&gt;"
                    class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a" x="11" y="11" width="2" height="12" />
                </g>
              </svg>
              <span>
                <span *ngIf="searchCriteria?.searchMode === 'sea-lcl'">{{searchCriteria?.containerLoad}}</span>
                <!-- <span *ngIf="searchCriteria?.searchMode === 'air-lcl'">AIR</span> -->
                <span *ngIf="!searchCriteria?.totalChargeableWeight && searchCriteria.searchMode !== 'air-lcl'">
                  {{(containersQty | floatNumbers)}} CBM</span>
                <span *ngIf="searchCriteria?.totalChargeableWeight > 0">
                  {{searchCriteria?.totalChargeableWeight | number:'1.2-2'}} KG</span>
                <span *ngIf="searchCriteria?.chargeableWeight">
                  {{searchCriteria?.chargeableWeight | number:'1.2-2'}} KG</span>

              </span>
            </div>

            <div *ngIf="searchCriteria.searchMode === 'warehouse-lcl'">
              <svg
                *ngIf="(searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && searchCriteria.searchBy !=='by_pallet'"
                id="daf2a9d0-ed1e-40c3-8dc2-534f350396d2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16">
                <defs>
                  <style>
                    .bf3de19e-df40-4e76-a7cd-2f9395b9693a {
                      fill: #00a2df;
                    }
                  </style>
                </defs>
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="16 10 10 16 16 16 16 10" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="0 6 6 0 0 0 0 6" />
                <rect class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" x="7.317" y="-2.63" width="1.367" height="21.261"
                  transform="translate(-3.314 8) rotate(-45)" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="2 14 2 9 0 9 0 16 7 16 7 14 2 14" />
                <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="14 2 14 6 16 6 16 0 10 0 10 2 14 2" />
              </svg>
              <svg
                *ngIf="(searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && searchCriteria.searchBy ==='by_pallet'"
                id="91048642-36e2-4f45-83ab-8ceede306ae3" class="sometdfgf" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\37 e0e4eda-9161-4ec8-8239-38bcf2454e29123 {
                      fill: #00a2df;
                    }
                  </style>
                </defs>
                <title></title>
                <g id="c213bd94-fff4-4595-8851-249fa7716951" data-name="RMdIWM.tif">
                  <path class="7e0e4eda-9161-4ec8-8239-38bcf2454e29123"
                    d="M.013,22.963V18.728c0-.572.02-1.145,0-1.716a21.784,21.784,0,0,1,.4-3.931c.374-2.717.772-5.431,1.161-8.145.185-1.3.373-2.591.561-3.9H21.855c.1.708.206,1.414.307,2.121q.544,3.81,1.09,7.62c.237,1.655.519,3.306.7,4.968a26.438,26.438,0,0,1,.025,2.774q0,2.058,0,4.117v.33H17.991V21.01H6.014v1.953Zm21.945-1.992V17.019H2.031V20.96H4.02V19.011H19.99v1.96Zm-5.037-5.987L16.049,3.04h-3.03V14.984Zm-5.95,0V3.037H7.941L7.069,14.986ZM18.05,3.032l.87,11.947h2.9c-.573-4-1.142-7.969-1.712-11.947ZM5.067,14.98,5.94,3.034H3.884L2.174,14.98Z" />
                </g>
              </svg>
              <svg *ngIf="searchCriteria.storageType === 'full'" id="88507c10-0da4-4b2d-a21a-0c5f629058b3"
                data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\37 aed6998-0fd9-4022-9f2b-430573c5b675 {
                      fill: #00a2df;
                      opacity: 0.8;
                    }
                  </style>
                </defs>

                <g id="2a77a8c1-03cb-4b0b-9400-6f49a695fb1a" data-name="calendar">
                  <path id="f9e755db-d1c7-4c2d-8f2e-755558f034ad" data-name="&lt;Compound Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675"
                    d="M20,5V19a2,2,0,0,1-2,2H4V7A2,2,0,0,1,6,5H20m2-2H6A4,4,0,0,0,2,7V23H18a4,4,0,0,0,4-4V3Z" />
                  <rect id="19ccffe0-336e-4cfa-affc-0859ccf0a517" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="4" y="5" width="16" height="6" />
                  <rect id="7556a7af-5b4a-4295-8b83-c429d2c26994" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="7" y="2" width="2" height="5" />
                  <rect id="6e3c8240-0c19-4341-aeed-3262c4d91dee" data-name="&lt;Path&gt;"
                    class="7aed6998-0fd9-4022-9f2b-430573c5b675" x="15" y="2" width="2" height="5" />
                </g>
              </svg>
              <span *ngIf="searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated'">
                <span *ngIf="((searchCriteria.searchBy ==='by_unit' || searchCriteria.searchBy ==='by_vol_weight'))">
                  <span>{{searchCriteria.CBM}} CBM</span>
                </span>
                <span *ngIf="searchCriteria.searchBy === 'by_area'">
                  {{searchCriteria.SQFT}} ft<sup>2</sup>
                </span>
                <span *ngIf="searchCriteria.searchBy === 'by_pallet'">
                  {{searchCriteria.PLT}} PLT
                </span>
              </span>
              <span *ngIf="searchCriteria.storageType === 'full'">Lease Term:
                {{searchCriteria?.minimumLeaseTermString}}
              </span>
            </div>
          </li>
          <li class="nav-item"
            *ngIf="searchCriteria.searchMode === 'warehouse-lcl' && (searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && (searchCriteria?.KG > 0)">
            <div>
              <svg id="78875c62-933a-4478-96f1-2b74912556c9" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <defs>
                  <style>
                    .d1ea073d-7587-402f-8888-ef5fdf952973 {
                      fill: #00a2df;
                    }

                    .\35 31c2d2f-6f3b-4dea-a0e3-d26425d55d54 {
                      fill: #fff;
                    }
                  </style>
                </defs>
                <title>Icons</title>
                <g id="d2d6c45f-034c-46e6-ac29-677a5382189c" data-name="load">
                  <polygon class="d1ea073d-7587-402f-8888-ef5fdf952973" points="20 20 4 20 8 10 16 10 20 20" />
                  <path class="d1ea073d-7587-402f-8888-ef5fdf952973"
                    d="M12,6a1,1,0,1,1-1,1,1,1,0,0,1,1-1m0-2a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z" />
                  <circle class="531c2d2f-6f3b-4dea-a0e3-d26425d55d54" cx="12" cy="15" r="2.5" />
                </g>
              </svg>

              <span>{{searchCriteria?.KG}} KG
              </span>
            </div>
          </li>
          <li class="nav-item" *ngIf="searchCriteria.searchMode === 'warehouse-lcl'">
            <div>
              <svg id="50bc1bd9-6260-46ce-abc5-3554b4ea74d1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <defs>
                  <style>
                    .\38 e809ae0-7b37-42e6-a85e-f361f1832f6d {
                      fill: #fff;
                    }

                    .\31 c3de07a-0567-419f-859c-c2a6f340c18e {
                      fill: #00a2df;
                    }
                  </style>
                </defs>
                <title>Icons</title>
                <g id="43a13e74-76be-4e7c-a77a-222e086eb1dd" data-name="warehouse">
                  <g id="95598593-0b07-4049-99d8-9dde2c91ee8c" data-name="&lt;Group&gt;">
                    <path id="543a1ef8-9d63-4e8e-a43c-e33c391bf8c7" data-name="&lt;Path&gt;"
                      class="8e809ae0-7b37-42e6-a85e-f361f1832f6d" d="M22,23v-.555A3.959,3.959,0,0,1,20,23Z" />
                    <path id="76a7b445-ba52-4a5d-a2dc-da158acee007" data-name="&lt;Path&gt;"
                      class="8e809ae0-7b37-42e6-a85e-f361f1832f6d" d="M2,23H4a3.959,3.959,0,0,1-2-.555Z" />
                  </g>
                  <path id="e1fcf746-792d-4354-8bc6-17314b2a5e3d" data-name="&lt;Compound Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e"
                    d="M22.148,6.457,12,1,1.852,6.457A4,4,0,0,0,0,9.832V19a3.983,3.983,0,0,0,2,3.445V10H22V22.445A3.983,3.983,0,0,0,24,19V9.832A4,4,0,0,0,22.148,6.457ZM15,7H9V5h6Z" />
                  <rect id="4f261f44-20ec-4ea9-90c5-9c79149c2390" data-name="&lt;Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="10" y="18" width="4" height="4" />
                  <rect id="f420b0a4-076a-4ee1-91c5-b7e42da4e2e9" data-name="&lt;Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="5" y="18" width="4" height="4" />
                  <rect id="8970c0b2-6fdc-4ebc-8cc6-3d4ad3f8c163" data-name="&lt;Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="5" y="12" width="4" height="4" />
                  <rect id="7ba11457-86cf-4719-b707-7dd0b08eb954" data-name="&lt;Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="10" y="12" width="4" height="4" />
                  <rect id="e6df87d8-dd93-41a6-9184-dc1ac2ad8c81" data-name="&lt;Path&gt;"
                    class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="15" y="18" width="4" height="4" />
                </g>
              </svg>

              <span class="text-capitalize">{{searchCriteria?.storageType}} Warehouse
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-3 actions">
        <a href="javascript:;" *ngIf="name === 'search'" class="text-success" (click)="modify(page)">MODIFY SEARCH</a>
        <a href="javascript:;"
          *ngIf="name === 'booking' && buttons && !(orderSummary?.BookingType === 'specialrequest')"
          class="text-success mr-2" (click)="saveBooking()">SAVE
          BOOKING
        </a>
        <a href="javascript:;" *ngIf="name === 'booking' && buttons" class="text-default"
          (click)="onCancelClicked()">CANCEL</a>
      </div>
    </div>
  </div>
</div>
