<!-- <div class="card">
  <p class="text-center m-0">
    This page is currently under progress and will be enhanced in a future release.
  </p>
</div> -->

<!-- Help & Support -->
<div class="card mt-4">
  <div class="card-body">
    <div class="helpSupport" *ngIf="HelpDataLoaded">
      <div class="helpSupport-img">
        <img src="../../../../assets/images/call_icon.png" alt="">
      </div>
      <div class="helpSupport-head">
        <img src="../../../../assets/images/icons/mob-icon.svg" alt="umbrella-icon">
        <h5>Help &amp; Support</h5>
      </div>
      <div class="helpSupport-content">
        <h4>Customer Support</h4>
        <div  class="address">
          <p class="address">
            {{helpSupport?.HMSupportAddress}}
          </p>
          <!-- <div class="helpLine">
            <p>
              Helpline : {{helpSupport?.HMSupportPhone}}
            </p>
          </div> -->
          <div class="dotted"></div>
        </div>
      </div>
      <div class="helpSupport-footer">
        <!-- <p>
          For complaints or issues regarding your order, visit our
          <a href="{{helpSupport.HMSupportWebAdd}}" class="link-hover-1" target="_blank">Help Center</a> or send us an email at
          <a class="link-hover-1" href="{{'mailto:' + helpSupport?.HMSupportEmail}}">{{helpSupport?.HMSupportEmail}}</a>
        </p> -->
        <p>
          For any issues with your booking, contact:
          <a class="link-hover-1" href="{{'mailto:' + helpSupport?.HMSupportEmail}}">{{helpSupport?.HMSupportEmail}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--/ Help & Support -->