<div class="cd-dropdown-wrapper2" (clickOutside)="closeNav()">
  <a class="cd-dropdown-trigger2" href="javascript:;">Tools <i class="fa fa-angle-down"></i></a>
  <nav class="cd-dropdown2">
    <ul class="cd-dropdown-content2">
      <li>
        <div class="tools">
          <div class="container tools-container p-0">
            <div class="row no-gutters">
              <div class="col-3">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center active hvr-icon-forward">
                    Track Your Shipment
                    <span class="fa fa-angle-right hvr-icon"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Load Calculator
                    <!-- <span class="fa fa-angle-right"></span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Verified Supplier
                    <!-- <span class="fa fa-angle-right"></span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Help & Support Center
                    <!-- <span class="fa fa-angle-right"></span> -->
                  </li>
                </ul>
              </div>
              <div class="col-9">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Track Your Shipment</h5>
                    <form>
                      <div class="row">
                        <div class="col">
                          <label for="">Shipment No.</label>
                          <input type="text" class="form-control" placeholder="ABC 000 1234 567 89">
                        </div>
                        <div class="col">
                          <label for="">HashMove Booking No.</label>
                          <input type="text" class="form-control" placeholder="000 1234 567 89">
                        </div>
                        <div class="col">
                          <label for="">&nbsp;</label>
                          <button class="btn btn-primary btn-block hvr-sweep-to-right">Track Shipment</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>