<!-- User login Modal -->
<div class="updatePassword">
    <div class="user-modal animated fadeIn">
      <div class="modal-header">
        <h4 class="user-modal-title">Change Your Password?</h4>
        <p>Manage your account detail.</p>
        <a class="pointer crossIcon" (click)="closeModal()">
          <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
      </div>
      <div class="modal-body">
          <form class="form-component" novalidate [formGroup]="updateForm" (ngSubmit)="updatePassword(updateForm.value)">

              <!-- Alert Message -->
                <!-- <div class="alert alert-warning" *ngIf="emailSend">
                  <p>A reset password link is on its way to your inbox.</p>
                </div> -->
              <!-- Alert Message -->
              <!-- input row -->
               <div class="row form-group">
                 <div class="col">
                   <label>Password</label>
                   <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
                   <input type="password" class="form-control" [ngClass]="(passwordError)? 'fieldError': ''" autocomplete ="new-password" (focus) ="passwordError=false" formControlName="password"  placeholder="Enter your unique password" >
                   <span class="animated fadeIn" *ngIf="passwordError">
                   <p class="formError animated fadeIn" *ngIf="updateForm.controls['password'].hasError('required') && (updateForm.controls.password.dirty || updateForm.controls.password.touched)">This field is required!</p>
                   <p class="formError animated fadeIn" *ngIf="updateForm.controls['password'].hasError('minlength') && (updateForm.controls.password.dirty || updateForm.controls.password.touched)">Password should be between 6 to 15 characters</p>
                   <p class="formError animated fadeIn" *ngIf="updateForm.controls['password'].hasError('maxlength') && (updateForm.controls.password.dirty || updateForm.controls.password.touched)">Password should be between 6 to 15 characters</p>
                  </span>
                  </div>
               </div>
              <!--/ input row -->

              <!-- button row -->
              <div class="col update-btn">
                <div class="form-group">  
                  <button type="submit" class="btn btn-primary pull-right full-width-btn hvr-sweep-to-right"  [disabled]="!updateForm.controls['password'].value">
                  Update Password
                  </button>
                </div>
               </div>
              <!--/ button row -->
            </form>
      </div>
    </div>
  
  </div>
  <!--/ User login Modal -->
    
  <!-- <button class="btn btn-outline-primary mb-1" (click)="openSm(content)">Forgot Password</button> -->