<div class="user-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="confirm-modal-title">Modify Search</h4>
    <a class="pointer crossIcon" (click)="closeModal(false)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
    </a>
  </div>
  <div class="modal-body">
    <p class="text-center">Are you sure you want to modify the search criteria?</p>
    <div class="text-center">
      <button class="col btn btn-primary hvr-sweep-to-right" (click)="onConfirmClick($event)">Yes, Modify search criteria</button>
    </div>
  </div>
</div>